<script id="output-results" type="text/x-handlebars-template">

  <section class="output__item--wrap col-xs-12 col-sm-12 col-md-12" tabindex="0">
    <div class="col-xs-12 col-sm-12 col-md-8 reset-side">
      \{{#main}}
        <article class="output__item output__bg__resize" style="background-image:url(\{{ concat imageUrl }});">
          <div class="output__item--text">
            <h2 class="overlay-text-x-large">
              <span class="output__item--text-multiline">\{{headlineText}}</span>
            </h2>
            <a class="text-uppercase h4" href=\{{ concat cta.link }}>\{{ cta.text }}</a>
          </div>
        </article>
      \{{/main}}
    </div>

    <div class="col-xs-12 col-sm-12 col-md-4 reset">

      \{{#side_top}}
        <article class="output__item output__bg__resize output__bg__resize-side" style="background-image:url(\{{ concat imageUrl }});">
          <div class="output__item--text">
            <h2 class="overlay-text-large">
              <span class="output__item--text-multiline">\{{headlineText}}</span>
            </h2>
            <a class="text-uppercase h4" href=\{{ concat cta.link }}>\{{ cta.text }}</a>
          </div>
        </article>
      \{{/side_top}}

      \{{#side_bottom}}
        <article class="output__item output__bg__resize output__bg__resize-side" style="background-image:url(\{{ concat imageUrl }});">
          <div class="output__item--text">
            <h2 class="overlay-text-large">
              <span class="output__item--text-multiline">\{{headlineText}}</span>
            </h2>
            <a class="text-uppercase h4" href=\{{ concat cta.link }}>\{{ cta.text }}</a>
          </div>
        </article>
      \{{/side_bottom}}
    </div>
  </section>
</script>
<section class="output row" id="content"></section>
